button {
  border: none;
  background-color: #892CDC;
  color: whitesmoke;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 1em;
}

footer {
  background-color: #1A1A2E;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
footer p a {
  text-decoration: none;
  font-weight: bold;
  color: #892CDC;
}

header {
  background-color: #1A1A2E;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
main .game-over {
  position: absolute;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 228, 218, 0.5);
  font-size: 3em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
}
main .game-over p {
  color: black;
  margin-bottom: 1em;
}
main .stat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
main .stat h1 {
  margin-bottom: 0.5em;
}
main .game {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
main .game .row {
  display: flex;
  flex-flow: row nowrap;
}
main .game .box {
  width: 9em;
  height: 9em;
  margin: 1em;
  cursor: pointer;
  border: 0;
  border-radius: 1em;
}
main .game #green {
  background-color: lime;
  color: lime;
  --box-shadow-color: rgba(0, 255, 0, 1);
}
main .game #red {
  background-color: red;
  color: red;
  --box-shadow-color: rgba(255, 0, 0, 1);
}
main .game #yellow {
  background-color: yellow;
  color: yellow;
  --box-shadow-color: rgba(255, 255, 0, 1);
}
main .game #blue {
  background-color: blue;
  color: blue;
  --box-shadow-color: rgba(0, 0, 255, 1);
}

.flash {
  animation: 650ms flash 1 alternate ease-in-out;
  -webkit-animation: 650ms flash 1 alternate ease-in-out;
  -moz-animation: 650ms flash 1 alternate ease-in-out;
}

.fade-in {
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
}

/* TODOs
 *  [] Do the keyframes for every selector reference
 */
@keyframes flash {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    box-shadow: 0px 0px 30px 15px var(--box-shadow-color);
    -webkit-box-shadow: 0px 0px 30px 15px var(--box-shadow-color);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  background-color: #222831;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
